
@{
    ViewBag.Title = "AccessDenied";
}

<div class="page-content-wrapper">
    <div class="page-content" style="min-height:1609px">

        <h3 class="page-title">
            ERİŞİM YETKİNİZ YOKTUR <small>!</small>
        </h3>

    </div>
</div>

